<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FingerTableSize" value="64"/>
    <add key="SuccessorCacheSize" value="3"/>
    <add key="Retries" value="3" />
    <add key="StabilizePredecessorsPeriod" value="5000" />
    <add key="StabilizeSuccessorsPeriod" value="5000" />
    <add key="FingerTableUpdatePeriod" value="1000"/>

    <add key="BasePort" value="5000"/>
    <add key="MaxClusterSize" value="50"/>
    <add key="MulticastGroup" value="224.2.2.3"/>
    <add key="MulticastPort" value="8088"/>

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>